<%- include('partials/header') %>

<main>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <h1>hello, landing page (flex goal), <%= user ? user.name : "friend" %></h1>
  <button></button>
</main>


<%- include('partials/footer') %>
