<%- include('../partials/header') %> 

<main>
    <div id='job-result-card' class="card" style="width: 100%;">
        <div class="card-body">
            <a href="/jobs"><h6 class='card-subtitle' style='color: black'>Go back</h6></a>
            <span id='inline-card-header'>
                <h4 class="card-title"><%= job.title %></h5>
                <h5 class="card-subtitle" style='text-align: right'><%= job.created_at %></h6>
            </span>
            <span id='tracker-span'>
                <h5 class="card-subtitle mb-2"><%= job.company %></h6>
                <a href="#"><button type="button" class="btn btn-success">Track Job</button></a>
            </span>
            <h5 class="card-subtitle mb-2"><%= job.location %></h6><br>
            <h5 class="card-subtitle mb-2">Company URL: <a href='<%= job.company_url %>' style='color: black' target='_blank'><%= job.company_url %></a></h6>
            <h5 class="card-subtitle mb-2">How to Apply: <%= job.how_to_apply %> </h6>
            <h5 class="card-subtitle mb-2" style='margin-top: 0.4em'>Description: </h6>
            <p id='job-description' class="card-text"><%= job.description%> </p>
        </div>
    </div>
</main>


<%- include('../partials/footer') %> 